body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

h1 {
    text-align: center;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="file"], input[type="text"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

#result {
    margin-top: 20px;
    text-align: center;
}

#success-message {
    color: green;
    font-weight: bold;
}

#download-link {
    display: inline-block;
    margin-top: 10px;
    padding: 10px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 4px;
}

#download-link:hover {
    background-color: #0056b3;
}


/* Spinner */
.spinner {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #28a745;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
.processing{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: #28a745;
}

#process-another {
    display: block;
    margin-top: 20px;
    text-align: center;
    color: #28a745;
    text-decoration: none;
    background-color: #f3f3f3;
}
